name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DOTNET_VERSION: "9.x"

jobs:
  build:
    runs-on: ubuntu-latest
    
    defaults:
        run:
            working-directory: DevHabit

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
      
      - name: Restore dependencies
        run: dotnet restore DevHabit.slnx
      
      - name: Build
        run: dotnet build DevHabit.slnx --no-restore --configuration Release
      
      - name: Test
        run: dotnet test DevHabit.slnx --no-build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish DevHabit.slnx --no-build --configuration Release --no-restore